#background {
	background-image: url("../image/grain.png");
	opacity: 0.07;
	height: 170%;
	width: 100%;
	background-repeat: repeat;
    position: absolute;
    overflow: hidden;
}

body {
  	font-family: Advent Pro;
  	font-size: 20px;
  	color: white;
	background-color: #050505;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

html, body {
	margin: 0;
	padding: 0;
	min-width: 100%;
	min-height: 100%;
}

*{
	cursor: none !important;
}

figure {
	position: relative;
	left: 0;
	top: 0;
}

aside {
	height: 100%;
    width: 10%;
    float: left;
    z-index: 2;
}

aside figure {
	position: fixed;
}

aside figure img {
	width: 100%;
	width: 80px;
	height: 60px;
	padding: 30px 15px 15px 15px;
}

aside nav {
  	text-align: center;
	position: fixed;
  	bottom: 0;
  	left: 0;
  	transform-origin: top left;
  	transform: translateY(100%) rotate(-90deg);
  	padding: 10px 60px;
}

aside nav a {
	color: white;
	cursor: pointer;
	pointer-events: auto;
	display: inline-block;
	padding: 65px 20px;
	text-align: center;
	text-decoration: none;
}

p{
	text-align: justify;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 1.3vw;
	font-family: noir pro;
}

/*.grid{
	float: left;
	width: 20vw;
}*/

#fruit{
}

#bee{
}

#bottle{
}

article {
	height: 100%;
	width: 90%;
	float: right;
}

article figure {
	width: 33.33%;
	float: left;
	margin: 10% 0;
}

article figure img,
article figure figcaption {
	width: 70%;
	padding: 8%;
	font-size: 2vw;
}

article figure figcaption {
	text-align: center;
}

#square{
	position: absolute;
	height: 20px;
	width: 20px;
	/*z-index: 999;*/
	pointer-events: none;
	background-color: white;
}

#text{
	text-align: center;
}

header{
	width: 60vw;
	padding-left: 15%;
}

#textani{
	font-family: noir pro;
	color: white;
	font-size: 6vw;
	text-align: left;
	padding-top: 17%;

}

section#left {
	float: left;
}

section#right {
	float: right;
}

section#left,
section#right {
	width: 50%;
	height: 100%;
}

section#left figure,
section#right figure {
	width: 100%;
}

img#top{
	width: 85%;
	padding: 36.5% 5% 10% 5% !important;
}

img#waste{
	width: 85%;
	padding: 20% 5% 20% 5% !important;
}

section#right figure img, 
section#left figure img{
	width: 85%;
	padding: 5% 10% 10% 10%;
}

section#bottom figure{
	width: 100%;
	padding: 30% 5% 0 0 ;

}

@font-face {
  font-family: noir pro;
  src: url(./fonts/noir_pro/Noir_medium.otf);
}

figcaption a{
	color: white;
}

#title{
	text-align: justify;
	padding-top: 10%;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 5vw;
	font-family: noir pro;
}

